<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script>
    if (!site) {
      var site = {
        siteName: "Bribane City Council Facilities",
        tabName: "BCC Facilities",
      };
    }
  </script>
  <title>{{site.tabName}}</title>
  <!-- Style Sheets -->
  <link rel="stylesheet" type="text/css" href="cue/css/qg.css" media="all" />
  <link
    href="cue/css/layout-small.css"
    media="all"
    rel="stylesheet"
    type="text/css"
  />
  <link
    href="cue/css/layout-medium.css"
    media="only all and (min-width: 43em) and (max-width: 65em)"
    rel="stylesheet"
    type="text/css"
  />
  <link
    href="cue/css/layout-large.css"
    media="only all and (min-width: 65em)"
    rel="stylesheet"
    type="text/css"
  />
  <link rel="shortcut icon" href="cue/images/favicon.ico" />

  <link rel="stylesheet" type="text/css" href="theme/agency.css" media="all" />
  {{>./authenticator.html}}
</head>
